<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/basic::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>View Contacts</title>
</head>
<body>
	<section>
		<div class="card">
			<div class="card-body">
				<div th:if="${session.message}" class="container">
  			 <div th:classappend="${session.message.type}" class="alert text-center" role="alert">
  				<span th:text="${session.message.content}"></span>
			</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				
				
			</div>
				<h1 class="text-center">Your Contacts</h1>
				<div class="search-container">
				
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contacts"/>
					<div id="search-output"  class="search-output">
				
					</div>
				
				</div>
				
				
				<div class="container mt-3">
									<table class="table">
						  <thead>
						    <tr>
						    <th scope="col">SNo</th>
						    <th scope="col">Profile</th>
						      <th scope="col">Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Phone</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="c:${contacts}">
						      <th scope="row" th:text="${c.cid}"></th>
						      <td>
						    	<img class="my_profile_picture" th:src="@{'/images/'+${c.cimgURL}}">
						    </td>
						      <td th:text="${c.cname}"></td>
						      <td>
						      	<a th:href="@{'/user/contact/'+${c.cid}}"><span th:text="${c.cemail}"></span></a>
						      </td>
						      <td th:text="${c.cphone}"></td>
						      <td>
						    	<a href="#" th:onclick="|deleteAlert(${c.cid})|"><button class="btn btn-danger">Delete</button></a>
						    		<form  method="post" th:action="@{'/user/update/'+${c.cid}}">
						      		<button type="submit" class="btn btn-primary mt-2">Update</button></form>
						      </td>
						    </tr>
						  </tbody>
						</table>
						
						<!-- Applying pagination property -->
						<nav aria-label="Page navigation example">
					  <ul class="pagination">
					    <li th:if="${currPage!=0}" class="page-item">
					      <a th:href="@{'/user/show-contacts/'+${currPage-1}}" class="page-link" href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					        <span class="sr-only">Previous</span>
					      </a>
					    </li>
					    <li  th:classappend="${currPage==p-1?'active':''}" 
					    th:each="p:${#numbers.sequence(1,totalPages)}" 
					    class="page-item">
					    <a th:href="@{'/user/show-contacts/'+${p-1}}" class="page-link" href="#" th:text="${p}"></a></li>
					    <li th:if="${currPage!=totalPages-1}" class="page-item">
					      <a th:href="@{'/user/show-contacts/'+${currPage+1}}" class="page-link" href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					        <span class="sr-only">Next</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</body>
</html>