<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/basic::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Contact show</title>
</head>
<body>
	<section>
		<div class="card" th:if="${contact}">
			<div class="card-body">
			<div th:if="${session.message}" class="container">
  			 <div th:classappend="${session.message.type}" class="alert text-center" role="alert">
  				<span th:text="${session.message.content}"></span>
			</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
				<div class="container text-center">
					<img class="img-profile" th:src="@{'/images/'+${contact.cimgURL}}">
				</div>
				<div class="container mt-2">
					<h1 class="text-center" th:text="${contact.cname}"></h1>
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">#ID</th>
					      <th scope="col" th:text="'SCMUSER'+${contact.cid}"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">Email</th>
					      <td th:text="${contact.cemail}"></td>
					    </tr>
					    <tr>
					      <th scope="row">Phone</th>
					      <td th:text="${contact.cphone}"></td>
					    </tr>
					    <tr>
					      <th scope="row">Work</th>
					     	<td th:text="${contact.cwork}"></td>
					    </tr>
					  </tbody>
					</table>
					<hr>
				</div>
				<div class="container text-center">
					<a href="#" th:onclick="|deleteAlert(${contact.cid})|"><button class="btn btn-danger">Delete</button></a>
						    		<form  method="post" th:action="@{'/user/update/'+${contact.cid}}">
						      		<button type="submit" class="btn btn-primary">Update</button></form>
				</div>
			</div>
		</div>
		<h1 th:unless="${contact}">You dont have permission to see this contact</h1>
	</section>
</body>
</html>