body{
	background:#e2e2e2 !important;
}
.bg-primary{
	background:#009688 !important;
}

.banner{
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../images/girl.jpeg);
	background-size:cover;
	width:100%;
	height:93vh;
	color:white;
}
.my-card{
	background:#FFFFFF;
	padding:20px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.sidebar{
	width:18%;
	height:100%;
	position:fixed;
	background:white;
	padding:70px;
	position:fixed;
	
}
.sidebar a{
	display:block;
	color:gray;
	width:100%;
	padding:5px;
	text-decoration:none;
}

.sidebar a:hover{
	background:#e2e2e2;
}

.sidebar .crossBar{
	position:absolute;
	top:5;
	right:36px;
	font-size:36px;
	cursor:pointer;
}

.content{
	margin-left:300px;
	padding:50px;	
}


.image-preview-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 20px;
    display:none;
}

.image-preview-container img {
    width: 100%;
    display: none;
    margin-bottom: 30px;
}
.image-preview-container input {
    display: none;
}

.my_profile_picture{
	width:30px;
	height:30px;
	object-fit:cover;
	border-radius:10px;
}
.img-profile{
	width:200px;
	height:200px;
	border-radius:70px;
}
.search-container{
	position:relative;
}

.search-output{
	position:absolute;
	width:100%;
	background:white;
	border:1px solid gray;
	display:none;
}
.active{
	background:#009688 !important;
	color:white !important;
}












