.bg-primary{
	background:#009688 !important;
}

.banner{
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../images/girl.jpeg);
	background-size:cover;
	width:100%;
	height:93vh;
	color:white;
}
