<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="basic::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="banner">
		 <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div style="height:250px" id="login-box" class="col-md-12">
                    <div th:if="${session.message}" class="container mt-2">
  			 <div th:classappend="${session.message.type}" class="alert text-center" role="alert">
  				<span th:text="${session.message.content}"></span>
			</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
                   		<div style="color:black;" class="container text-center mt-3">
                   			<h3>Change Password</h3>
                   		</div>
                        <form id="login-form" class="form"
                         th:action="@{/change-pass}" action="#"
                          method="post">
                            
                            <div class="form-group">
                            	<input class="form-control" type="password"
                            		name="password"
                            		placeholder="Enter new password"
                            	>
                            </div>
                            
                            <div class="container text-center">
                            	<button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>